.product {
    &-card {
        border-radius: 16px;
    }
    &-image-top {
        background-color: $gray-100;
        border-radius: 16px;
        padding: 16px;
    }
    &-title {
        color: $gray-600;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0px;
        line-height: 150%;
    }
    &-cart-btn {
        width: 48px;
        height: 48px;
        padding: 12px;
    }
}