@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import "bootstrap/scss/functions";

@import "./utils/variables";

@import "bootstrap/scss/bootstrap";
// TODO: Lean Sass imports
